<div class="row">


  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-1</span>
      </div>
      <div class="back">
        <!-- <div class="back-logo"></div> -->
        <div class="back-title">Choose Your Branch
         <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "1"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "1"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "1"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "1"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "1"}%></li>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-2</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
        <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "2"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "2"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "2"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "2"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "2"}%></li>
        </div>
      </div>
    </div>
  </div>



   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-3</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
        <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "3"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "3"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "3"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "3"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "3"}%></li>
        </div>
      </div>
    </div>
  </div>




   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-4</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
        <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "4"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "4"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "4"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "4"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "4"}%></li>
        </div>
      </div>
    </div>
  </div>


</div>



<div class="row">


  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-5</span>
      </div>
      <div class="back">
        <!-- <div class="back-logo"></div> -->
        <div class="back-title">Choose Your Branch
        <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "5"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "5"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "5"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "5"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "5"}%></li>
        </div>
      </div>
    </div>
  </div>


   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-6</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
        <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "6"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "6"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "6"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "6"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "6"}%></li>
        </div>
      </div>
    </div>
  </div>



   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-7</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
         <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "7"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "7"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "7"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "7"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "7"}%></li>
        </div>
      </div>
    </div>
  </div>




   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-8</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
         <li><%= link_to "CSE",controller: "material", action: "semnotes",data: {branch: "CSE",sem: "8"} %></li>
         <li><%= link_to "IT",controller: "material", action: "semnotes",data: {branch: "IT",sem: "8"}%></li>
         <li><%= link_to "ECE",controller: "material", action: "semnotes",data: {branch: "ECE",sem: "8"}%></li>
         <li><%= link_to "EEE",controller: "material", action: "semnotes",data: {branch: "EEE",sem: "8"} %></li>
         <li><%= link_to "ICE",controller: "material", action: "semnotes",data: {branch: "ICE",sem: "8"}%></li>
        </div>
      </div>
    </div>
  </div>


</div>