<p id="notice"><%= notice %></p>

<%= link_to 'New Material', new_material_path %>
<!-- <table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Branch</th>
      <th>Subject</th>
      <th>Type</th>
      <th>Title</th>
      <th>AddedBy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.semester %></td>
        <td><%= material.branch %></td>
        <td><%= material.subject %></td>
        <td><%= material.category %></td>
        <td><%= material.title %></td>
        <td><%= material.user_id %></td>
        <td><%= link_to 'Show', material %></td>
        <td><%= link_to 'Download', download_materials_path(material,id:material.id) %></td>
        <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<% @materials.each do |material| %>

<div class="row" id="materialcard">
  <div class="col s12">
    <div class="card #F5F2ED">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>Semester:<%= material.semester %></p>
        <p>Branch:<%= material.branch %></p>
        <p>Subject:<%= material.subject %></p>
        <p>category:<%= material.category %></p>
        <p>Title:<%= material.title %></p>
        <p>User_id:<%= material.user_id %></p>
        </div>
        <div class="card-action">
         <%= link_to 'Show', material %>
         <%= link_to 'Download', download_materials_path(material,id:material.id) %>
        </div>
      </div>
    </div>
  </div>

<br>
  <%end%>



