<p id="notice"><%= notice %></p>

<h1>Listing Materials</h1>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Branch</th>
      <th>Subject</th>
      <th>Type</th>
      <th>Title</th>
      <th>AddedBy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.semester %></td>
        <td><%= material.branch %></td>
        <td><%= material.subject %></td>
        <td><%= material.category %></td>
        <td><%= material.title %></td>
        <td><%= material.user_id %></td>
        <td><%= link_to 'Show', material %></td>
        <td><%= link_to 'Download', download_materials_path(material,id:material.id) %></td>
        <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material', new_material_path %>
